.App{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.App-NavBar {
  background-color: darkolivegreen;
  font-size: calc(10px + 2vmin);
}

.App-AboutMe {
  background-color: darkgrey;
}
